<div ng-controller="transactionHistoryController">
<div class="container-fluid">

        <div class="row" style="margin-top:30px;">
       
        	
        	<table class="table table-striped table-hover">
          <h4>Search results:</h4>
                    <thead>
                     
                      <tr>
                        <th style="vertical-align:middle">Deal ID:
                        </th>
                        <td style="vertical-align: middle">{{transaction_hist_Dealtable_3.dealId}}</td>
                      </tr>
                       <tr>
                        <th style="vertical-align:middle">Pledger
                        </th>
                        <td style="vertical-align: middle">{{transaction_hist_Dealtable_3.pledger}}</td>
                      </tr>
                      <tr>
                        <th style="vertical-align:middle">Pledger long Acc. No.
                        </th>
                        <td style="vertical-align: middle"> {{transaction_hist_Dealtable_3.pledgerLongboxAcc}}</td>
                        </tr>
                      <tr>
                        <th style="vertical-align:middle">Pledgee
                        </th>
                       <td style="vertical-align: middle">{{transaction_hist_Dealtable_3.pledgee}}
                          </td>
                      </tr>
                       <tr>
                        <th style="vertical-align:middle">Pledgee Seg. Acc. No.
                        </th>
                       <td style="vertical-align: middle">{{transaction_hist_Dealtable_3.pledgeeSegAcc}}
                          </td>
                      </tr>
                     </thead>
                  </table>
                
        </div>
          <div class="row">
            <h4>Allocations are given below:</h4>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Security</th>
                    <th>Sec ID</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Colleteral Form</th>
                    <th>MTM</th>
                    <th>Margin Call Date</th>
                    <th>Valuation %</th>
                    <th>Eff. Value</th>
                    <th>Total Value</th>
                    <th>Currency</th>
                   
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in transaction_history_TableData_3 track by $index">
                        <td data-tile="Security">{{x.security}}</td>
                      <td data-tile="Sec ID">{{x.secId}}</td>
                        <td data-tile="Type">{{x.type}}</td>
                        <td data-tile="Quantity">{{x.quantity}}</td>
                        <td data-tile="Colleteral Form">{{x.collForm}}</td>
                        <td data-tile="MTM">{{x.mtm}}</td>
                        <td data-tile="mrginCallDate">{{x.mrginCallDate}}</td>
                        <td data-tile="Valuation %">{{x.valuation}}</td>
                       
                        <td data-tile="Eff. Value">{{x.effValue}}</td>
                        <td data-tile="Total Value">{{x.totalValue}}</td>
                        <td data-tile="Currency">{{x.currency}}</td>
                      </tr>
                    </tbody>
            </table>
        </div>   
    </div>
  </div>


